
    <footer class="footer">
    	<div class="container">

        </div>
    </footer>
    <!-- .footer -->


<div class="popup-block is-hidden" id="popup-thanks">
    <div class="thanks-form">
        <div class="popup-title">
            <p>Спасибо Ваш заказ отправлен.</p>
            <p>Наш менеджер в ближайшее время свяжется с Вами.</p>
        </div>
        <a href="#" class="btn-popup">Хорошо</a>
    </div>
</div>

<div class="popup-block is-hidden" id="popup-video">
    <div class="video-form">
        <div class="popup-title">
            <h5>Сборка и монтаж</h5>
        </div>
        <div class="video-block item">
            <iframe src="https://www.youtube.com/embed/YqfbPbBTxEM" allowfullscreen></iframe>
        </div>
        <div class="info-block item">
            <p>Вы можете самостоятельно собрать пеленальный столик, либо заказать сборку и монтаж у нас.</p>
            <p>Стоимость сборки и монтажа 500 р.</p>
            <div class="download-block">
                <a href="#">
                    <i class="icon icon-pdf"></i>
                    <span>Скачать инструкцию<br/>
                        по сборке</span>
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>


<script src="js/jquery.parallax.js" type="text/javascript"></script>